[submodule "godwit"]
	path = godwit
	url = https://github.com/Passeriform/GodWit
	ignore = dirty
[submodule "godwit-daemon"]
	path = godwit-daemon
	url = https://github.com/Passeriform/GodWit-Daemon
	ignore = dirty
[submodule "gwd-backend-firefox"]
	path = gwd-backend-firefox
	url = https://github.com/Passeriform/GWD-Backend-Firefox
	ignore = dirty
